<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ws" maxReceivedMessageSize="10067108864" messageEncoding="Mtom" transferMode="Streamed" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfCommon" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="1073741824" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- 운영 WCF 서버 -->
      <!-- Wcf Common -->
      <!--
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/WcfCommon/WcfCommonNew.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="WcfCommonNew.IWcfCommonNew" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/WcfCommon/WcfCommon.svc"    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="WcfCommon.IWcfCommon" name="WSHttpBinding_IWcfCommon" />
      -->

      <endpoint address="http://cesnetDev.cesco.biz/WCF/IISService/WcfCommon/WcfCommonNew.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="WcfCommonNew.IWcfCommonNew" />
      <endpoint address="http://cesnetDev.cesco.biz/WCF/IISService/WcfCommon/WcfCommon.svc"    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="WcfCommon.IWcfCommon" name="WSHttpBinding_IWcfCommon" />
      <!-- 그외 -->
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/MainFrame/MainFrameService.svc"                   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="MainFrameService.IMainFrameService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/Notice/NoticeService.svc"                         binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="ServiceReference.INoticeService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/WorkProcess/WorkProcessService.svc"               binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="WorkProcessService.IWorkProcessService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/Common/CommonService.svc"                         binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="CommonService.ICommonService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/SideViewer/SideViewerService.svc"                 binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="SideViewerService.ISideViewerService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/SystemMng/SystemMngService.svc"                   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="SystemMngService.ISystemMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/SMS/SMSService.svc"                               binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="SMSServiceReference.ISMSService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/ResourceMng/ResourceMngService.svc"               binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="ResourceMngServiceReference.IResourceMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/PlanMng/PlanMngService.svc"                       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="PlanMngService.IPlanMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/PersonInfoMng/PersonInfoMngService.svc"           binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="PersonInfoMngService.IPersonInfoMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/Education/EducationService.svc"                   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="EducationServiceReference.IEducationService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/TechData/TechDataService.svc"                     binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="TechDataServiceReference.ITechDataService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/AddrBookMng/AddrBookMngService.svc"               binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="ServiceReference.IAddrBookMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/CommonEquipPlanMng/CommonEquipPlanMngService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="CommonEquipPlanMngServiceReferences.ICommonEquipPlanMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/Certificate/CertificateService.svc"               binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="CertificateServiceReference.ICertificateService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EApprovalFormMng/EApprovalFormMngService.svc"     binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="EApprovalFormMngService.IEApprovalFormMngService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EApproval/EApprovalService.svc"                   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="EApprovalService.IEApprovalService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EApprovalForms/EApprovalFormsService.svc"         binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="EApprovalFormsService.IEApprovalFormsService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EMailSend/EMailSendService.svc"                   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="SendServiceReference.IEMailSendService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EMailReceive/EMailReceiveService.svc"             binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="ReceiveServiceReference.IEMailReceiveService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/EApprovalList/EApprovalListService.svc"           binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="EApprovalListService.IEApprovalListService" />
      <endpoint address="http://cesnet.cesco.biz/WCF/IISService/CESHBR/HBRService.svc"                            binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfCommon" contract="CESHBRService.ICESHBRService" />
    </client>
  </system.serviceModel>
</configuration>